In [ ]:
# IF-else
# ifelse
# for loop
# while loop
# Mutate
# Break, continue

In [10]:
x<- 5
if(x>0){
    print("positive number")
}

x<- -3
if(x<0){
    print("negative number")
}else{
    print("non negative number")
}


x <- 0
if(x>0){
    print("positive no")
}else if(x<0){
    print("negative no")
}else{
    print("ZERO")
}

[1] "positive number"
[1] "negative number"
[1] "ZERO"

In [32]:
# On Vector
# ifelse()

a<- c(3,-7,6,9)
x<- ifelse(a %% 2 == 0,"even","odd")
print(x)

x1<- ifelse(a>0,"positive","negative")
print(x1)

[1] "odd"  "odd"  "even" "odd"
[1] "positive" "negative" "positive" "positive"

In [ ]:

# the difference between if and ifelse:

# if is a control flow statement, taking a single logical value as an argument
# ifelse is a vectorised function, taking vectors as all its arguments.

In [31]:
# mutate

attach(mtcars)
head(mtcars)
library(dplyr)
x_mutate <- mutate(mtcars, pass_fail= ifelse(gear==4,"pass","fail"))
print(head(x_mutate))

The following objects are masked from mtcars (pos = 3):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt


The following objects are masked from mtcars (pos = 4):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt


The following objects are masked from mtcars (pos = 5):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt


The following objects are masked from mtcars (pos = 7):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt


The following objects are masked from mtcars (pos = 8):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt


The following objects are masked from mtcars (pos = 9):

    am, carb, cyl, disp, drat, gear, hp, mpg, qsec, vs, wt

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

   mpg cyl disp  hp drat    wt  qsec vs am gear carb pass_fail
1 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4      pass
2 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4      pass
3 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1      pass
4 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1      fail
5 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2      fail
6 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1      fail

In [36]:
new1<- mutate(mtcars, car.grade = ifelse(cyl==4,"grade A",
                                  ifelse(cyl==6,"grade B",
                                  ifelse(cyl==8,"grade C","c"))))
print(head(new1))

   mpg cyl disp  hp drat    wt  qsec vs am gear carb car.grade
1 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4   grade B
2 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4   grade B
3 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1   grade A
4 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1   grade B
5 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2   grade C
6 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1   grade B

In [41]:
#for

x<- c(5,6,7,9,8)
for(val in x){
    print(val)
}

xvector<- c(4,8,7,9)
for(val in x){
    cat("text",val,"\n")
}

[1] 5
[1] 6
[1] 7
[1] 9
[1] 8
text 5
text 6
text 7
text 9
text 8

In [42]:

## FOR  and IF

xvector <- c(2,5,3,9,8,11,6)


for(val in x){
    if(val>7){
        print("a")
    }else if(val<7){
        print("b")
    }else{
        print("c")
    }
}

[1] "b"
[1] "b"
[1] "c"
[1] "a"
[1] "a"

In [44]:
#factorial

num= 8
fact=1
for(i in 1:8){
    fact= fact*i
    print(i)
        
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8

In [46]:
num = 5
fact= 1
if(num<0){
    print("the factorial of the num doesnt exist")
}else if(num == 0){
    print("the factorial of zero is zero")
}else{
    for(i in 1:5){
        fact=fact*i
    }
    print(paste("the factorial of",num,"is",fact))
}

[1] "the factorial of 5 is 120"

In [48]:
#while

cnt<- 5
while(cnt <= 7){
    print(cnt)
    cnt= cnt+1
}

[1] 5
[1] 6
[1] 7

In [50]:
#fibonacci_series

num1= 0
num2= 1
count= 2
nth_term=7
while(count<=nth_term){
    nth= num1+num2
    print(nth)
    #updated values
    num1= num2
    num2= nth
    count= count + 1
}

[1] 1
[1] 2
[1] 3
[1] 5
[1] 8
[1] 13

In [54]:
#break

v = c(66)
cnt<- 1
repeat{
    print(paste("the count",cnt,"=",v))
    cnt= cnt + 1
    if(cnt>5){
        break
    }
}

[1] "the count 1 = 66"
[1] "the count 2 = 66"
[1] "the count 3 = 66"
[1] "the count 4 = 66"
[1] "the count 5 = 66"

In [57]:
B <- LETTERS[1:7]

for(i in B){
    if(i == "D"){
        next
    }
    print(i)
          
}

[1] "A"
[1] "B"
[1] "C"
[1] "E"
[1] "F"
[1] "G"

In [61]:
subject<- c("cs","science","maths","chem")
marks<- c(77,58,95,45)
students<- c("ravi","kiran","rahul","jyoti")
gradebook<- data.frame(subject,marks,students)
mutate(gradebook,pass.fail= ifelse(marks>60,"pass","fail"))

  subject marks students pass.fail
1 cs      77    ravi     pass
2 science 58    kiran    fail
3 maths   95    rahul    pass
4 chem    45    jyoti    fail

In [64]:
#switch

x<- switch(2,"red","blue","green")
print(x)

x <- switch(3,"red","green","blue")
print(x)

[1] "blue"
[1] "blue"

In [71]:
## switch Functions also

# Program make a simple calculator that can add, subtract, multiply and divide using functions
add <- function(x, y) {
  return(x + y)
}

subtract <- function(x, y) {
  return(x - y)
}

multiply <- function(x, y) {
  return(x * y)
}

divide <- function(x, y) {
  return(x / y)
}

# take input from the user
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

choice= 4
num1= 8
num2=10

operator<- switch(choice,"+","-","*","/")

result<- switch(choice,add(num1,num2),subtract(num1,num2),multiply(num1,num2),divide(num1,num2))
print(paste(num1,operator,num2,"=",result))

[1] "Select operation."
[1] "1.Add"
[1] "2.Subtract"
[1] "3.Multiply"
[1] "4.Divide"
[1] "8 / 10 = 0.8"

In [73]:
#done