In [5]:

# R Missing values
# In R the missing values are coded by the symbol NA


name<- c("karan","kirti","kp",NA,"mansi")
age<- c(23,35,19,NA,29)
sex<- c("men","women","men","men","women")
info<- data.frame(name,sex,age)
print(info)

   name   sex age
1 karan   men  23
2 kirti women  35
3    kp   men  19
4  <NA>   men  NA
5 mansi women  29

In [6]:
is.na(info)

     name  sex   age
[1,] FALSE FALSE FALSE
[2,] FALSE FALSE FALSE
[3,] FALSE FALSE FALSE
[4,]  TRUE FALSE  TRUE
[5,] FALSE FALSE FALSE

In [8]:
# how much and how many are missing

sum(is.na(info))
mean(is.na(info))

[1] 2

[1] 0.1333333

In [10]:
new_data<- na.omit(info)   # only cleaned data
print(new_data)

   name   sex age
1 karan   men  23
2 kirti women  35
3    kp   men  19
5 mansi women  29

In [12]:
# list rows of data that have missing values 

print(info[!complete.cases(info),])

  name sex age
4 <NA> men  NA

In [17]:
x<- info$age
print(mean(x))   #gives NA
print(mean(x, na.rm= TRUE))

[1] NA
[1] 26.5